@charset "UTF-8";
/* 14px */
html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 0.875rem; /* 14px */
  min-height: 100vh;
  position: relative;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  opacity: 0.7;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.content { /* mainの上下間隔 */
  padding-top: 120px;
  padding-bottom: 160px;
}

.site-title a { /* メインタイトルロゴ */
  width: 180px;
  line-height: 1;
  display: block;
}

.page-title {
  font-size: 0.875rem; /* 14px */
  font-weight: normal;
  margin-bottom: 30px;
}

/* -----------------------------------------
ヘッダー
----------------------------------------- */
#header { /* どのページにもあり、固定ヘッダー */
  width: 100%;
  height: 80px; /* 固定ヘッダーの高さ */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10; /* 上部へスクロール時に商品画像が固定ヘッダーへ被らないよう処理 */
  background-color: #fff;
}
#header #hamburger { /* ハンバーガーメニューを開く前の2本線の枠と本体 */
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 20;
  transition: all 0.5s;
}
#header #hamburger span { /* ハンバーガーメニューの2本線自体のそれぞれの高さと幅と色 */
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
}
#header #hamburger.open span {
  background-color: #fff;
}
#header #hamburger span:nth-child(1) { /* ハンバーガーメニューの2本線の位置 */
  top: 10px;
}
#header #hamburger span:nth-child(2) {
  bottom: 10px;
}
#header #hamburger.open span:nth-child(1) { /* ハンバーガーメニューを開いた時の2本線の位置 */
  transform: translateY(4px) rotate(-45deg);
}
#header #hamburger.open span:nth-child(2) {
  transform: translateY(-4px) rotate(45deg);
}
#header #navi { /* ハンバーガメニューが3本線の時のナビは非表示 */
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
}
#header #navi a {
  color: #fff;
}
#header #navi.open { /* ハンバーガメニューが❌の時のナビ、左からスーッと表示 */
  left: 0;
  opacity: 1;
}
#header #navi li {
  margin-bottom: 14px;
}
#header #mask { /* ハンバーガーメニューが3本線の時のマスクは非表示 */
  display: none;
  transition: all 0.5s;
}
#header #mask.open { /* ハンバーガーメニューを開いた時はマスク表示 */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
}

/* -----------------------------------------
TOP、PRODUCTS
----------------------------------------- */
#top {
  margin-top: 80px; /* 固定ヘッダーの高さ分topを下げる */
  margin-bottom: 160px;
}

.page-title {
  margin-bottom: 30px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 39px 32px; /* グリッド間の行間と列間 */
}
.product-list p { /* 商品名と価格のスタイル */
  font-size: 0.75rem;
  line-height: 1.5;
}
.product-list img { /* 各画像と商品名の間の幅（隙間） */
  margin-bottom: 10px;
  vertical-align: top;
}

.link-text { /* View More のスタイル */
  display: block;
  font-size: 0.875rem; /* 14px */
  text-align: center;
  margin-top: 42px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}
.pagination li {
  padding: 0 20px;
}

/* -----------------------------------------
ITEM
----------------------------------------- */
#item {
  max-width: 800px;
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}
#item .item-text {
  width: 42%;
  line-height: 1.5;
}
#item .item-text p {
  margin-bottom: 30px;
  text-align: justify;
}
#item .item-text dl {
  display: flex;
  flex-wrap: wrap;
}
#item .item-text dl dt {
  width: 30%;
  font-weight: normal;
}
#item .item-text dl dd {
  width: 70%;
}
#item .item-img {
  width: 50%;
}

/* -----------------------------------------
About
----------------------------------------- */
#about {
  max-width: 600px;
}
#about p {
  line-height: 1.9;
  margin-bottom: 30px;
}

/* -----------------------------------------
COMPANY
----------------------------------------- */
#company {
  max-width: 600px;
}
#company dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#company dl dt {
  width: 30%;
  border-bottom: solid 1px #dcdbdb;
  padding: 20px 10px;
}
#company dl dt:last-of-type {
  border-bottom: none;
}
#company dl dd {
  width: 70%;
  border-bottom: solid 1px #dcdbdb;
  padding: 20px 10px;
}
#company dl dd:last-of-type {
  border-bottom: none;
}
#company .map {
  filter: grayscale(1);
}
#company .map iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

/* -----------------------------------------
フッター
----------------------------------------- */
#footer {
  display: flex;
  justify-content: space-between;
}
#footer .footer-link { /* インスタ、ツイッター、フェイスブックのリンク */
  display: flex;
  margin-bottom: 20px;
}
#footer .footer-link li {
  font-size: 0.75rem;
  color: #333;
  margin-right: 30px;
}
#footer p { /* コピーライト */
  font-size: 0.625rem;
}

/* -----------------------------------------
SP
----------------------------------------- */
@media screen and (max-width: 900px) {
  /* -----------------------------------------
  TOP、PRODUCTS
  ----------------------------------------- */
  .product-list {
    grid-template-columns: repeat(2, 46%);
  }
  /* -----------------------------------------
  ITEM
  ----------------------------------------- */
  #item {
    flex-direction: column;
  }
  #item .item-text {
    width: 100%;
  }
  #item .item-img {
    width: 100%;
    margin-bottom: 30px;
  }
  /* -----------------------------------------
  COMPANY
  ----------------------------------------- */
  #company dl {
    flex-direction: column;
  }
  #company dl dt {
    border-bottom: none;
    padding-bottom: 5px;
    width: 100%;
  }
  #company dl dd {
    width: 100%;
    padding-top: 5px;
  }
  /* -----------------------------------------
  フッター
  ----------------------------------------- */
  #footer {
    display: block;
  }
  #footer .footer-link {
    margin-bottom: 10px;
  }
  #footer p {
    margin: 0 0 20px auto;
  }
}/*# sourceMappingURL=style.css.map */